.wrap {
  top:0; left:0; right:0; bottom:0;
}

.tabbar {
  height: 60px;
  display:flex;
}

.tab {
  width:calc(100vw / 3);
  background-color: lightgray;
  border-top:1px solid #111;
  border-right: 1px solid #111;
  border-bottom: 1px solid #111;
}

.tabbdy {
  height: calc(100vh - 120px);
  overflow-y: auto;
  overflow-x: hidden;
}

.on {
  border-bottom: none;
  background-color: #fff;
}

.box {
  width: 100%;
  margin: 5px;
}

.disc {
  white-space:pre-line;
  line-height: 150%; 
}